.titleImage {
    position: relative;
}
.titleImage .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* content css */
.page {
    position: relative;
    padding-top: 5%;
    width: 100%;
}
.page .content {
    width: 60%;
}

.page .details {
    position: absolute;
    top: 13%;
    left: 3.5%;
}

.page .details {
    display: flex;
    align-items: center;
    gap: 8px;
}

.page .details img {
    width: 30px;
}

.page .tags {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-top: 6%;
}

.divider img {
    width: 100%;
    height: 1px;
}