* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing:border-box
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}

.top {
    position: relative;
}

.greyBox {
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    top: 0;
    z-index: 1;
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    z-index: 2;
}

.rest {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.sublogo img {
    height: 20px;
}

.item:hover,
.sublogo:hover,
.logo:hover {
    cursor: pointer;
}

.item:hover,
.sublogo:hover {
    border-bottom: 3px solid #D4A373;
}

.slider{
    width: 100%;
    overflow: hidden;
}

.slide {
    position: relative
}

.slide img {
    display: block;
}
.slide .content {
    display: flex;
    position: absolute;
    top: 40%;
    padding-left: 5%;
    flex-direction: column;
    gap: 15px;

}

.slide .content .title {
    width: 530px;
}

.slide .content .subtitle {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    font-weight: 100;
    opacity: 0.8;
}
.subtitle-last {
    width: 420px;
    line-height: 1.25rem;
}

/* css for popular section */
.popular {
    padding: 8% 5% 0% 5%;
    height: 100%;
}

.popular .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0%;
    width: 100%;
}
.filter .categories {
    display: flex;
    gap: 5%;
    width: 40%;

}

.categories .item:hover,
.filter .item:hover {
    color: #D4A373;
}



.popular .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
    grid-template-rows: auto auto; /* Creates 2 rows */
    height: 100%; /* Make the grid occupy full height of its parent */
    column-gap: 14px;
    row-gap: 22px;
}

.popular .cards .item {
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.popular .cards .item:hover {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popular .cards .item .image {
    position: relative;
}

.popular .cards .item .image .category {
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 5%;
}


.popular .cards .item .image img {
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 11px;
}



/* feature section */

.feature {
    padding: 10% 0%;
}

.featureImage {
    position: relative;
}
.feature .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 45%;
}


/* editor's pick section */
.editorPickBlock {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.editorPickBlock .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    column-gap: 15px;
    margin-top: 40px;
}

.editorPickBlock .cards .card {
    position: relative;
    height: auto;
    width: auto;
}

.editorPickBlock .cards .card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}



.editorPickBlock .cards .card .content .tag {
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 5%;
}

.editorPickBlock .cards .card .content .subcontent {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 3%;
}

/* footer section */
.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    height: 250px;
    width: 100%;
    background-color: #212529;
}

.footer .lists {
    margin-top: 5%;
}

.footer .lists .logos {
    display: flex;
    gap: 8px;
    align-items: center;

}
.footer .lists .logos .logo img {
    width: 20px;
    height: auto;
}

.subfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #343A40;
}

.subfooter > :first-child {
    margin-left: 3%;
}

.subfooter > :last-child {
    margin-right: 3%;
}



/* the the text styles */
.lora {
    font-family: 'Lora';
}

.roboto {
    font-family: 'Roboto';
}

.light {
    color: #6C757D;
}

.lighter {
    color: #e5e5e5;
}

.dark {
    color: #495057;
}
.darker {
    color: #343A40;
}

.bold {
    font-weight: bold;
}

.grey-title {
    font-weight: bold;
    color: #495057;
}

.white-title {
    color: white;
    font-weight: bold;
}

.small {
    font-size: 0.75rem;
}

.medium {
    font-size: 1rem;
}

.medium-125 {
    font-size: 1.25rem;
}

.small-14px {
    font-size: 0.875rem;
}

.large {
    font-size: 2.25rem;
}

.tag {
    background-color: rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    text-shadow: 0 0 2px black;
    text-transform: uppercase;
    font-size: 0.625rem;
}

.blog-tags {
    font-size: 0.625rem;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 6px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.logo {
    color: white;
    font-family: 'Oswald';
    font-size: 1.4rem;
    font-weight: 600;
}

.subtitle {
    color: white;
    font-weight: 100;
    opacity: 0.8;
}

.quote {
    color: #D4A373;
}



/* margins */

.margin-10 {
    margin-top: 10px;
}

.margin-20 {
    margin-top: 20px;
}
.margin-30 {
    margin-top: 30px;
}

.margin-center-hor {
    margin: 0 auto;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.margin-1{
    margin-left: 1px;
    margin-right: 1px;
}

.margin-3{
    margin-left: 3px;
    margin-right: 3px;
}


